Django==4.2.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
Pillow==10.2.0
djangorestframework==3.14.0
django-filter==23.5
djoser==2.1.0
webcolors==1.12
PyYAML==6.0.1
python-dotenv==1.1.0
drf-extra-fields==3.0.2
shortuuid==1.0.11
